# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

Modules/BlockchainComponentLibrary/ @cpjservices48-bc
Modules/BlockchainNamespace/ @cpjservices48-bc
Modules/CommonCrypto/ @paulo-bc @cpjservices48-bc
Modules/ComposableArchitectureExtensions/ @cpjservices48-bc
Modules/CryptoAssets/ @cpjservices48-bc
Modules/FeatureActivity/@cpjservices48-bc
Modules/FeatureApp/ @cpjservices48-bc
Modules/FeatureAuthentication/ @cpjservices48-bc
Modules/FeatureCardPayment/ @cpjservices48-bc
Modules/FeatureCardIssuing/ @cpjservices48-bc
Modules/FeatureDashboard/ @cpjservices48-bc 
Modules/FeatureDebug/ @cpjservices48-bc
Modules/FeatureInterest/@cpjservices48-bc 
Modules/FeatureSettings/  @cpjservices48-bc
Modules/FeatureTransaction/  @cpjservices48-bc
Modules/Keychain/ @cpjservices48-bc
Modules/Metadata/ @cpjservices48-bc
Modules/FeatureOpenBanking/ @cpjservices48-bc
Modules/Platform/ @cpjservices48-bc
Modules/RemoteNotifications/ @cpjservices48-bc
Modules/UIComponents/ @cpjservices48-bc
Modules/WalletPayload/ @cpjservices48-bc
