# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

Modules/BlockchainComponentLibrary/ @oliveratkinson-bc
Modules/BlockchainNamespace/ @oliveratkinson-bc
Modules/CommonCrypto/ @paulo-bc @dchatzieleftheriou-bc
Modules/ComposableArchitectureExtensions/ @oliveratkinson-bc
Modules/CryptoAssets/ @paulo-bc
Modules/FeatureActivity/ @thisisalexmcgregor @oliveratkinson-bc
Modules/FeatureApp/ @dchatzieleftheriou-bc
Modules/FeatureAuthentication/ @dchatzieleftheriou-bc
Modules/FeatureCardPayment/ @crucheton-bc
Modules/FeatureCardIssuing/ @crucheton-bc
Modules/FeatureDashboard/ @paulo-bc @dchatzieleftheriou-bc
Modules/FeatureDebug/ @dchatzieleftheriou-bc
Modules/FeatureInterest/ @thisisalexmcgregor
Modules/FeatureSettings/ @thisisalexmcgregor @dchatzieleftheriou-bc
Modules/FeatureTransaction/ @thisisalexmcgregor @oliveratkinson-bc
Modules/Keychain/ @dchatzieleftheriou-bc
Modules/Metadata/ @dchatzieleftheriou-bc
Modules/FeatureOpenBanking/ @oliveratkinson-bc
Modules/Platform/ @paulo-bc @thisisalexmcgregor @dchatzieleftheriou-bc
Modules/RemoteNotifications/ @paulo-bc
Modules/UIComponents/ @oliveratkinson-bc
Modules/WalletPayload/ @dchatzieleftheriou-bc
